<div class="dashboard-banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://d39a3h63xew422.cloudfront.net/wp-content/uploads/2018/11/15101816/Marco-Annunziata-Fiat-Dino-Spider-2400-15-1440x960.jpg);">
  <div class="container">
    <h1>Welcome to your <strong>dashboard</strong></h1>
  </div>
</div>
<div class="column">
  <div>
    <h1>Your rides</h1>
    <p>The list of the rides you booked</p>
    <div class="card-product">
      <% @rides.each do |ride| %>
        <%= render 'shared/ride_card', ride: ride %>
      <% end %>
    </div>
  </div>
  <div>
    <h1>Your cars</h1>
    <p>List of the cars you rent</p>
    <div class="your-car-dashboard">
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3))">
        Total amount
      </div>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3))">
        Total amount
      </div>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3))">
        Total amount
      </div>
    </div>
  </div>
</div>






