<div class="container">
  <div class="landing">
    <div class="col-sm-12 col-lg-6 sign-in sign-up">
      <div class="landing-choice">
        <p>Yes, I wanna be cool, I'm joining the club!</p>
        <div class="btn-landing">
          <%= link_to "Sign Up!", new_user_registration_path %>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-lg-6 sign-in login">
      <div class="landing-choice">
        <p>I'm cool already, here's my ticket in!</p>
        <div class="btn-landing">
          <%= link_to "Login!", new_user_session_path %>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>
