<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
  </div>
  <div class="footer-copyright">
    Passion is driving this website
  <%= link_to "/", class: "footer-brand" do %>
    <%= image_tag "https://petrolicious.com/wp-content/themes/petrolicious/images/logo-mark.svg" %>
  <% end %>
  </div>
</div>
