#show-title {
  color: #525349;
  font-size: 32px;
  font-weight: bold;
  text-align: left;
}
.row th {
  color: #525349;
}

.calendar h4 {
  color: #525349;
  font-size: 32px;
  font-weight: bold;
  text-align: left;
}
