
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://d39a3h63xew422.cloudfront.net/wp-content/uploads/2019/12/05134339/Andrea-Casano-rare-Fiat-600s-meetup-44-1000x666.jpg);">
  <div class="container">
    <h1>Rent a <strong>Vintage</strong></h1>
    <p>Select your dream car and go for an unforgetable ride</p>
    <%= link_to "Select your dream car", "#", class: "btn-banner" %>
  </div>
</div>

<div class="cards">
  <% @car.each do |car| %>
    <div class="card">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
      <div class="card-infos">
        <div>
          <h2><%= link_to car.name, car_path(car) %></h2>
          <p><%= car.name %></p>
        </div>
        <h2 class="card-pricing"><%= car.price %>€</h2>
        <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-user avatar-bordered" />
      </div>
    </div>
  <% end %>
</div>
