<div class="container">
  <h1><strong>Congratulations, your ride has been confirmed!</strong></h1>

  <h2>Your trip details:</h2>

  <p>Start Date: <%= @ride.start_date %></p> | <p>End Date: <%= @ride.end_date %></p>

  <h3><strong><%= @ride.car.name %></strong></h3>

  <p><%= @ride.car.description %></p>
</div>
